body {
	background-color: lightgray;
}

.console_cmd {
	display: inline;
	width: 30%;
}

.python_edit {
	width: 30%
	height: 300px;
}

.result_prog {
	width: 30%
	height: 300px;
}

.cmd_label {
	display: inline;
	text-align: left;
	color
}

.python_label {
	display: inline;
	text-align: right;
}