{% include 'base.html' %}

<link rel="stylesheet" href="static/style.css">

<form action="" method="POST">
  <label for="command">Console Commands:</label><br>
  <input type="text" id="command" name="command" value="Enter console commands here one at a time" class="cmd"><br>
  {# drop down for endpoints#}
  <label for="message">Message:</label><br>
  <input type="text" id="message" name="message" value="Enter message here" class="cmd"><br>
  <input type="submit" value="Submit">
</form> 

{%include 'footer.html' %}