{% include 'base.html' %}
<div id="content">
{% for name, message in chat %}
<span class="name"> {{name}}</span>: {{message}} <br>
{% endfor %}
<br>
<br>
</div>
<link rel="stylesheet" href="static/style.css">

<form action="{{location}}" method="POST">
  <label for="person">Name:</label><br>
  <input type="text" id="name" name="name" value="Enter name here" class="name"><br>
  <label for="message">Message:</label><br>
  <input type="text" id="message" name="message" value="Enter message here" class="message"><br>
  <input type="submit" value="Submit">
</form> 

{%include 'footer.html' %}